* {
	margin: 0;
	padding: 0;
}

body {
	background: #181818;
	color: white;
}

a {
	color: white;
}

.container {
	display: grid;
	height: 100vh;
	grid-template-columns: 0.05fr 0.8fr 0.3fr 0.05fr;
	grid-template-rows: 0.3 0.1fr 0.5fr 1fr 0.3fr;
	grid-template-areas:
		"spaceLeft brand brand spaceRight"
		"spaceLeft nav nav spaceRight"
		"spaceLeft slider slider spaceRight"
		"spaceLeft mainContent sidebar spaceRight"
		"spaceLeft footer footer spaceRight";
	grid-gap: 0.2em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2vw;
}

#spaceLeft {
	grid-area: spaceLeft;
}

#spaceRight {
	grid-area: spaceRight;
}

.brand {
	grid-area: brand;
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
}

.brand .diyLogo {
	height: 200px;
	width: 300px;
	background-image: url("./drone.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.brand .brandName {
	margin-left: 5%;
	font-size: 2em;
}

nav {
	grid-area: nav;
}

nav ul {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	list-style-type: none;
}

nav ul li {
	text-align: center;
	width: 20%;
	height: auto;
}

nav ul li a:hover {
	background: #daa520;
	border-radius: 15%;
	width: 100px;
	height: auto;
	color: black;
}

nav ul li a:link {
	text-decoration: none;
}

#slider {
	grid-area: slider;
}

#mainContent {
	background: #181818;
	text-align: center;
	align-items: center;
	justify-content: center;
	grid-area: mainContent;
}

#sidebar {
	grid-area: sidebar;
}

@media only screen and (max-width: 900px) {
	.brand {
		grid-area: brand;
		display: flex;
		flex-flow: row wrap;
		justify-content: left;
	}

	/* .brand .diyLogo { */
	/* 	height: 200px; */
	/* 	width: 300px; */
	/* 	background-image: url('diylogo.png'); */
	/* 	background-size: 100%; */
	/* 	background-repeat: no-repeat; */
	/* 	background-position: center; */
	/* } */

	/* .brand .brandName { */
	/* 	margin-left: 5%; */
	/* 	font-size: 2em; */
	/* } */
}
